<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WCF.Properties.Settings.HotelManagementDatabeseQueryConnection1ConnectionString1"
      connectionString="Data Source=DESKTOP-GANOB6L;Initial Catalog=HotelManagementDatabeseQueryConnection1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="masterConnectionString" connectionString="Data Source=DESKTOP-PKHHSLS\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="10000"  maxQueryStringLength="2097151" maxUrlLength="2097151" requestPathInvalidCharacters=" "/>
    <pages validateRequest="false" />
  </system.web>
  <system.serviceModel>
  
    <bindings>  
      <webHttpBinding>  
        <binding name="ServiceWebBindingName" transferMode="Streamed" maxReceivedMessageSize="2147483647" >  
           <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">  
           <transport clientCredentialType="None"
              proxyCredentialType="None" realm="" />
          </security>   
        </binding>  
      </webHttpBinding>  
    </bindings>  
      
    
    <!--Stuff that Thato added in order to expose more endpoints-->
    <services>
      <service behaviorConfiguration="WCF_Behavior" name="WCF.HotelServicee">
        <endpoint address="" behaviorConfiguration="webHttpBehaviour"
          binding="webHttpBinding" contract="WCF.IHotelServicee" />
      </service>
      <service behaviorConfiguration="WCF_Behavior" name="WCF.AccreditationServices">
        <endpoint address="" behaviorConfiguration="webHttpBehaviour"
          binding="webHttpBinding" contract="WCF.IAccreditationServices" />
      </service>
      <service behaviorConfiguration="WCF_Behavior" name="WCF.BookingServices">
        <endpoint address="" behaviorConfiguration="webHttpBehaviour"
          binding="webHttpBinding" contract="WCF.IBookingServices" />
      </service>
      <service behaviorConfiguration="WCF_Behavior" name="WCF.FilteringService">
        <endpoint address="" behaviorConfiguration="webHttpBehaviour"
          binding="webHttpBinding" contract="WCF.IFilteringService" />
      </service>
      <service behaviorConfiguration="WCF_Behavior" name="WCF.FileUploadsServices">
        <endpoint address="" behaviorConfiguration="webHttpBehaviour"
          binding="webHttpBinding" bindingConfiguration="ServiceWebBindingName"
          contract="WCF.IFileUploadsServices" />
      </service>
      <service behaviorConfiguration="WCF_Behavior" name="WCF.OfficerServices">
        <endpoint address="" behaviorConfiguration="webHttpBehaviour"
          binding="webHttpBinding" contract="WCF.IOfficerServices" />
      </service>
      <service behaviorConfiguration="WCF_Behavior" name="WCF.OwnerServices">
        <endpoint address="" behaviorConfiguration="webHttpBehaviour"
          binding="webHttpBinding" contract="WCF.IOwnerServices" />
      </service>
      <service behaviorConfiguration="WCF_Behavior" name="WCF.ClientServicee">
        <endpoint address="" behaviorConfiguration="webHttpBehaviour"
          binding="webHttpBinding" contract="WCF.IClientServicee" />
      </service>
      <service behaviorConfiguration="WCF_Behavior" name="WCF.RateAccommodationService">
        <endpoint address="" behaviorConfiguration="webHttpBehaviour"
          binding="webHttpBinding" contract="WCF.IRateAccommodationService" />
      </service>
      <service behaviorConfiguration="WCF_Behavior" name="WCF.MappingService">
        <endpoint address="" behaviorConfiguration="webHttpBehaviour"
          binding="webHttpBinding" contract="WCF.IMappingService" />
      </service>
      <service behaviorConfiguration="WCF_Behavior" name="WCF.LoginService">
        <endpoint address="" behaviorConfiguration="webHttpBehaviour"
          binding="webHttpBinding" contract="WCF.ILoginService" />
      </service>
      <service behaviorConfiguration="WCF_Behavior" name="WCF.UserRegistration">
        <endpoint address="" behaviorConfiguration="webHttpBehaviour"
          binding="webHttpBinding" contract="WCF.IUserRegistration" />
      </service>
      <service behaviorConfiguration="WCF_Behavior" name="WCF.InspectionSevices">
        <endpoint address="" behaviorConfiguration="webHttpBehaviour"
          binding="webHttpBinding" contract="WCF.IInspectionSevices" />
      </service>
      <service behaviorConfiguration="WCF_Behavior" name="WCF.CampusServices">
        <endpoint address="" behaviorConfiguration="webHttpBehaviour"
          binding="webHttpBinding" contract="WCF.ICampusServices" />
      </service>
      <service behaviorConfiguration="WCF_Behavior" name="WCF.ReportingServices">
        <endpoint address="" behaviorConfiguration="webHttpBehaviour"
          binding="webHttpBinding" contract="WCF.IReportingServices" />
      </service>
    </services>
    <!--The end of what Thato added-->
    
      
        
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehaviour">
          <webHttp />
        </behavior>
        <behavior name="WCF.ClientServeAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WCF_Behavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>